@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

html, body, h1, h2, h3, h4, h5, h6, p, a, li, span, th, td {
  letter-spacing: .1em;
  font-family: "Zen Maru Gothic", helvetica, "Segoe UI", 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", メイリオ, Meiryo, sans-serif!important;
}

#container {
  max-width: 1070px;
  margin: 0 auto;
}

h1 {
  font-weight: 700!important;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

thead {
  border-top: 1px solid #bbb;
}

tbody {
  border-bottom: 1px solid #bbb;
}

table th {
  font-weight: bold;
}

table th,
table td {
  padding: 10px;
  border-left: 1px solid #bbb;
}

table th:last-child,
table td:last-child {
  border-right: 1px solid #bbb;
}

table tr:nth-child(odd) {
  background-color: #eee;
}
.bold {
  font-weight: 600;
}
.imp {
  color: red;
}
.sp {
  font-weight: 600;
  font-size: 1.4em;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-align: left;
  background-color: #d5d5d5;
}

footer {
  background-color: #ececec;
}

footer a {
  color: #717171;
}
