body {
  font-family: Verdana, sans-serif;
}

#app li {
  line-height: 1.5;
}

#app input[type='text'] {
  padding: 4px;
}

.command {
  font-size: 18px;
  cursor: pointer;
  color: #08c;
}

#app ul {
  padding: 0;
  list-style: none;
}

#app li > span.done {
  text-decoration: line-through;
  color: #bbb;
}

span.title {
  cursor: pointer;
}